lab4/.idea
lab4/out
lab4/*.iml
n-gram_frequency/13*
n-gram_frequency/14*
n-gram_frequency/15*
n-gram_frequency/16*
n-gram_frequency/17*
n-gram_frequency/18*
n-gram_frequency/19*
n-gram_frequency/20*
n-gram_frequency/21*
n-gram_frequency/22*
n-gram_frequency/23*
n-gram_frequency/*
n-gram_frequency