letter_frequency/.idea/*
letter_frequency/letter_frequency.iml
letter_frequency/out/*
letter_frequency/graf-monte-kristo.txt
../../cp_2/pronoza_fb-73_demyanenko_fb-73_cp2/lab2/.idea
../../cp_2/pronoza_fb-73_demyanenko_fb-73_cp2/lab2/out
../../cp_2/pronoza_fb-73_demyanenko_fb-73_cp2/lab2/*.iml